body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.landing{
    background-image: url('burger\ and\ french\ fries.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: black;
    font-weight: bolder;
}
header a{
    text-decoration: none;
    color: yellow;
}
header{
    display: flex;
    padding:1em;
}
#logo{
    flex: 3;
    font-size: 2em;
}
nav{
    flex:2;
    display: flex;
}
nav a{
    flex:1;
}
nav a:hover{
    color:green;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:2em;
    height: 50em;
}
.line1{
    color: red;
    font-size: 2.5em;
    font-weight: bolder;
}
.line2{
    color:red;
    font-size: 2em;
    font-weight: bolder;
}
.content div{
    margin-top: .75em;
}
.landing button{
    width: 100px;
    margin-top: 2em;
    border-radius: 10px;
    padding: .50em;
    background-color: gray;
    color:black;
    font-weight: bolder;
    border: 1px solid gold;
}

.menu{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    color:whitesmoke;
}

#menuheading,#locheading{
    background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    font-size:2.5em;
    color:goldenrod;
    display: flex;
    justify-content: center;
}

.menu th{
    color:black;
    font-size: 1.8em;
}

table{
    width:100%;
    padding:1em;
}

.menu tr{
    display:flex;
    justify-content: center;
    margin-top:.8em;
}

.menu td:nth-child(1){
    flex:1;
    justify-self: left;
}


.menu td:nth-child(2){
    justify-self: right;
}

.maincourse{
    grid-row:span 2;
}

.locations{
    background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    color:whitesmoke;
    display:flex;
    flex-wrap:wrap;
}

.locations h2{
    color:wheat;
    margin-bottom: .8em;
}

.locations div{
    flex:1;
    padding:1em;
    min-width:220px;
}

footer{
    background-color: rgb(55, 55, 55);
    color:whitesmoke;
    padding:.25em 1em;
}

#copyright{
    margin-left:20px;
}
.social-menu ul{
    display: flex;
    padding:0;
}

.social-menu ul li{
    list-style: none;
    display:inline-block;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 25px;
    line-height: 40px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
    
.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #4267B2;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #00ACEE;
}